<div class="tickets-sold">
    <p-table class="tickets-table" [value]="tickets" [tableStyle]="{ 'min-width': '50rem' }" >
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>المستخدم</th>
                <th>رقم التذكرة</th>
                <th>قيمة التذكرة</th>
                <th>السينمات</th>
                <th>عدد الأشخاص</th>
                <th>عدد مرات الشراء</th>
                <th>التذكرة</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ticket>
            <tr>
                <td class="ticket-count">{{ ticket.ticketCount }}</td>
                <td>
                    <div class="d-flex justify-content-center">

                        <div class="img d-flex align-items-center ms-3">
                            <img *ngIf="ticket.user.img" [src]="imgSrc + ticket.user.img">
                            <span *ngIf="!ticket.user.img" class="no-img d-flex align-items-center justify-content-center text-white rounded-circle" [class.one]="ticket.ticketCount == 1" [class.four]="ticket.ticketCount == 4">Ma</span>
                        </div>
                        <div class="user-data">
                            <p class="mb-0">
                                {{ ticket.user.name }}
                            </p>
                            <p class="mb-0">
                                {{ticket.user.phone}}
                            </p>
                        </div>
                    </div>
                </td>
                <td>{{ ticket.ticketNumber }}</td>
                <td>${{ ticket.ticketPrice }}</td>
                <td>{{ ticket.cinema }}</td>
                <td>{{ ticket.numberOfPeople }}</td>
                <td>{{ ticket.numberOfPurchases }}</td>
                <td>{{ ticket.ticket.type }}</td>
            </tr>
        </ng-template>

    </p-table>
    <!-- my-list.component.html -->

    <p-paginator [rows]="10" [totalRecords]="totalRecords" [first]="first" [rowsPerPageOptions]="[5,10,20]">
        <ng-template pTemplate="rowsPerPageDropdown">
          <div class="paginator-text-before">Rows per page:</div>
          <p-dropdown [options]="[5, 10, 20]" [(ngModel)]="selectedRows" class="paginator-dropdown"></p-dropdown>
          <div class="paginator-text-after">items per page</div>
        </ng-template>
      </p-paginator>
      


<!-- Your data rendering goes here -->

 </div>