.tickets-sold {
  margin-top: 16px;
  margin-bottom: 36px;

  th:first-child,
  td:first-child {
    text-align: start;
  }

  th:not(th:first-child),
  td:not(td:first-child):not(:nth-child(2)) {
    text-align: center;
  }

  td:not(:first-child) {
    color: black;
  }

  th {
    color: #abaab1 !important;
    font-size: 0.83rem;
    font-weight: normal !important;
    border: none !important;
  }

  .ticket-count {
    color: #898995;
    font-size: 0.83rem;
  }

  .img img {
    border-radius: 50%;
  }

  .number {
    color: #92a1ad;
  }

  .no-img {
    width: 30px;
    height: 30px;

    &.one {
      background-color: #038cb7;
    }

    &.four {
      background-color: #898e95;
    }
  }

  .ticket-icon {
    background: rgba(138, 116, 249, 0.1);
    width: 31.667px;
    height: 31.667px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7.917px;
    margin-left: 8px;
  }

  .download {
    margin-right: 22px;
    img {
      width: 16px;
      height: 16px;
    } 
  }

  .info{
    font-size: 0.729rem;
    p{
      margin-bottom: 0;
    }
  }
}

:host::ng-deep {
  .p-component {
    font-family: "Neo Sans Arabic" !important;
    font-size: 0.83rem;
  }

  .tickets-table .p-datatable-wrapper {
    border-radius: 8px;
    border: 1px solid #f3f3f5;
    overflow: hidden;
    padding: 7px;
    background-color: white;
  }

  .p-datatable-thead tr {
    border-radius: 6px !important;
  }

  tbody tr:last-child td {
    border: none !important;
  }

  .p-paginator.p-component {
    flex-direction: row-reverse;
    justify-content: start;
  }

  p-dropdown {
    margin-left: auto !important;
  }

  .p-paginator .p-dropdown .p-dropdown-label {
    padding-right: 10px;
  }

  input[type="text"],
  .p-ripple.p-element.p-paginator-first.p-paginator-element.p-link.p-disabled,
  .p-ripple.p-element.p-paginator-last.p-paginator-element.p-link {
    display: none !important;
  }

  .p-paginator .p-paginator-pages .p-paginator-page {
    color: #7e8299;
    font-weight: bolder;
    outline: none !important;
    border: none !important;
  }
  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #8a74f9;
    color: white;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    border-color: #f3f3f5;
    padding: 13px !important;
  }
}
