h2{
    font-size: 1rem;
    font-weight: bold;
}

.edit-btn{
    padding: 8px;
    border-radius: 4px;
    font-size: 0.875rem;
}

.back-btn{
    height: 32px;
    width: 32px;
    border-radius: 8px;
    background-color: #e7eaed;
}