h2{
    font-size: 1rem;
    font-weight: bold;
}



.edit-btn{
    padding: 8px;
    border-radius: 4px;
    font-size: 0.875rem;
    border: 1px solid #E9EAEA !important;
    color: #1C1C28;
}

.back-btn{
    height: 32px;
    width: 32px;
    border-radius: 8px;
    background-color: #e7eaed;
}