@font-face {
    font-family: 'NeoSansArabic';
    src: url('NeoSansArabic-Medium.woff2') format('woff2'),
        url('NeoSansArabic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

