<div class="statistics h-100">
  <div class="d-flex justify-content-between">
    <div>
      <h3>
        إحصائيات إستخدام القسيمة
      </h3>
      <p>
        05 يوليو , 2023 - 05 أغسطس , 2023
      </p>
    </div>
    <div class="select-container position-relative">
      <select name="" id="">
        <option>سنويا <i class="fa-solid fa-chevron-down"></i></option>
      </select>
    </div>
  </div>
  <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
      [dataLabels]="chartOptions.dataLabels"
      [yaxis]="chartOptions.yaxis"
      [labels]="chartOptions.labels"
      [legend]="chartOptions.legend"
      [title]="chartOptions.title"
      [subtitle]="chartOptions.subtitle"
    ></apx-chart>
  </div>
</div>