@import url(../src/assets/vendor/styles/normalize.css);

@font-face {
  font-family: "Neo Sans Arabic"; // ده الإسم اللي هتستخدمه لما تحتاج تطبق الخط
  src: url("./assets/fonts/NeoSansArabic.woff2") format("woff2"),
    url("./assets/fonts/NeoSansArabic.woff") format("woff");
  // font-weight: normal;
  // font-style: normal;
  // font-display: swap;
}

@font-face {
  font-family: "Neo Sans"; // ده الإسم اللي هتستخدمه لما تحتاج تطبق الخط والحجم اللي فيه
  src: url("./assets/fonts/NeoSans-Medium.woff2") format("woff2"),
    url("./assets/fonts/NeoSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "NeoSansArabicMd"; // ده الإسم اللي هتستخدمه لما تحتاج تطبق الخط والحجم اللي فيه
  src: url("./assets/fonts/NeoSansArabic-Medium.woff2") format("woff2"),
    url("./assets/fonts/NeoSansArabic-Medium.woff") format("woff");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // color: rgba(0, 128, 255, 0.6);
}

body {
  font-family: "NeoSansArabicMd";
  background-color: #f3f5f7;
  padding-left: 18px;
  padding-right: 18px;
  @media (min-width: 992px) {
    padding-top: 85px;
    padding-right: 136px;
  }
}
