.ticket {
  padding: 26px 0;
  border-radius: 12px;
  background-color: #8a74f9;
  background-image: url("../../assets/imsges/background.svg");

  h3 {
    font-size: 0.875rem;
    font-weight: bolder;
    margin-bottom: 21px;
  }

  .ticket-number {
    a {
      font-size: 0.813rem;
    }

    &+p {
      font-size: .75rem !important;
    }
  }

  .separator {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -5px;
      border-radius: 50%;
      background-color: #f3f5f7;
      width: 40px;
      height: 40px;
    }

    &::before {
      transform: translate(50%);
    }

    &::after {
      transform: translate(50%);
    }
  }

  .discount-and-share {
    padding-right: 27px;
    font-size: 12px;

    .discount p {
      margin-bottom: 8px;
    }


    .discount {
      margin-left: 17px;

    }



    .discount span {
      display: block;
      padding-bottom: 4px;
    }
  }

  .share button {
    padding: 4px 6px;
    border: solid white 1px;
    border-radius: 4px;
    color: white;
  }

  .qr {
    margin-left: 32px;
    img {
      border-radius: 4px;
    }
  }
}

.fit-content {
  width: fit-content;
}